
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Kanit", sans-serif;
  display: "flex";
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
